/* 
TeX Gyre Pagella
License:
  % Copyright 2007--2018 for TeX Gyre extensions by B. Jackowski,
  % J.M. Nowacki et al. (on behalf of TeX Users Groups). Vietnamese
  % characters were added by Han The Thanh.
  %
  % This work can be freely used and distributed under
  % the GUST Font License (GFL -- see GUST-FONT-LICENSE.txt)
  % which is actually an instance of the LaTeX Project Public License
  % (LPPL -- see http://www.latex-project.org/lppl.txt ).
  %
  % This work has the maintenance status "maintained". The Current Maintainer
  % of this work is Bogus\l{}aw Jackowski and Janusz M. Nowacki.
  %
  % This work consists of the files listed
  % in the MANIFEST-TeX-Gyre-Pagella.txt file.
*/

@font-face {
	font-family : "Industria LT Std";
	font-style : normal;
	font-weight : normal;
	src : url('../../../fonts/DeltaGreen/IndustriaLTStd-Solid.woff2');
}

@font-face {
	font-family : "Sabon LT Std";
	font-style : normal;
	font-weight : normal;
	src : url('../../../fonts/DeltaGreen/Sabon LT Std Roman.otf');
}

@font-face {
	font-family : "Sabon LT Std";
	font-style : italic;
	font-weight : normal;
	src : url('../../../fonts/DeltaGreen/Sabon LT Std Italic.otf');
}

@font-face {
	font-family : "Typestar Black";
	font-style : normal;
	font-weight : normal;
	src : url('../../../fonts/DeltaGreen/typestar-black.woff2');
}

@font-face {
	font-family : "Typestar Black";
	font-style : italic;
	font-weight : normal;
	src : url('../../../fonts/DeltaGreen/Typestar Black Italic.otf');
}

@font-face {
	font-family : "Futura Std Book";
	font-style : normal;
	font-weight : normal;
	src : url('../../../fonts/DeltaGreen/Futura Std Book.otf');
}

@font-face {
	font-family : "Futura Std Bold";
	font-style : normal;
	font-weight : normal;
	src : url('../../../fonts/DeltaGreen/Futura Std Bold.otf');
}
